.board {
    
    width: 400px;
    margin: 0;

}

.info {
    
    width: 400px;
    margin: 0;
    align-items: center;

}

.move-history {

    max-height: 100px;
    overflow-y: scroll;

}

.title {

    font-weight: normal;
    font-family: "Georgia", sans-serif;

}

body {

    width: 100%;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    background-image: url("https://www.10wallpaper.com/wallpaper/2560x1600/1403/blue_unclear_image-HD_Widescreen_Wallpapers_2560x1600.jpg");

}


.control-row {
    
    display: flex;
    position: absolute;
    transform: translate(450px, -200px);
}

.control-row-left {
    align-self: center;
}

.control-row-right {
    flex-grow: 1;
    text-align: right;
    transform: translate(10px, 0px);
}
.loading {

    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.lds-ellipsis {

    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
}

.lds-ellipsis div {

    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    
}

.lds-ellipsis div:nth-child(1) {

    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;

}

.lds-ellipsis div:nth-child(2) {

    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;

}

.lds-ellipsis div:nth-child(3) {
   
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;

}

.lds-ellipsis div:nth-child(4) {

    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;

}

@keyframes lds-ellipsis1 {

    0% {
        transform: scale(0);
    }
  
    100% {
        transform: scale(1);
    }

}

@keyframes lds-ellipsis2 {

    0% {
        transform: translate(0, 0);
    }
  
    100% {
        transform: translate(24px, 0);
    }

}

@keyframes lds-ellipsis3 {

    0% {
        transform: scale(1);
    }
  
    100% {
        transform: scale(0);
    }

}
